:root{
    --cor-fundo: pink;
    --cor-principal: #F39399;
    --cor-secundaria: #91008D;
    --cor-destaque: #F62440;
    --cor-texto: #000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}