:root{
    --cor-fundo: pink;
    --cor-principal: #F39399;
    --cor-secundaria: #91008D;
    --cor-destaque: #F62440;
    --cor-texto: #000000;
}
body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}
buton{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    padding: 15px;
    transition: backround-color 0.3s;
}
button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}